@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0, 0, 0);
	animation: gradient 15s ease infinite;
    color: rgb(255, 255, 255);
    max-height: 100vh; 
}
.someFun {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    position: absolute;
    z-index: -1000;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(166, 7, 65) 91.1%);  
    filter: blur(5000px);
    animation: gradient 15s ease infinite;
    animation-delay: 5s;
    border-radius: 30%;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.move-down {
    animation: moveDown 0.5s ease-in-out forwards;
}
@keyframes moveDown {
    0% {
        transform: translateY(-20vh);
        opacity: 0;
    }
    100% {
        transform: translateY(30vh);
        opacity: 1;
    }
}