@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #13081f;
    color: white;
    max-height: 100vh; 
}
h1{
    text-shadow: 0px 2px 3px #ff5100, 6px 4px 9px #ca3605;
}