@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	animation: gradient 15s ease infinite;
    color: rgb(255, 255, 255);
    max-height: 100vh; 
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.move-down {
    animation: moveDown 0.5s ease-in-out forwards;
}
@keyframes moveDown {
    0% {
        transform: translateY(-20vh);
        opacity: 0;
    }
    100% {
        transform: translateY(30vh);
        opacity: 1;
    }
}