@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 255, 255, 0.896);
    color: black;
    max-height: 100vh; 
}
h1{
    text-shadow: 0px 2px 3px #a5006b, 4px 2px 4px #76025c98;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}