@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
h1{
    text-shadow: 0px 3px 5px #d32323, 10px 8px 16px #df0e0e;
}